@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<div class="container">
  <h4>Add a new task</h4>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <button type="submit" class="btn btn-primary">Add new task</button>
  }
  <p>@Html.ActionLink("Show all items", "Index")</p>
</div>