@* @{
  Layout = "_Layout";
}

<div class="container">
  @using ToDoList.Models;

  <h3>Here are all the items in @Model["category"].Name:</h3>

  @if (Model["items"].Count == 0)
  {
    <p>There are no items in @Model["category"].Name.</p>
  }

  <ol>
  @foreach (Item item in @Model["items"])
  {
    <li><a href='/categories/@Model["category"].Id/items/@item.Id'>@item.Description</a></li>
  }
  </ol>

  <p><a href='/categories/@Model["category"].Id/items/new'>Add a new item</a></p> *@

  @* <form action='/categories/@Model["category"].Id/items/delete' method="post">
    <button type="submit" name="button">Clear All Items</button>
  </form> *@

  @* <p><a href='/categories'>Return to category list</a></p>
  <p><a href='/'>Return to Main Page</a></p>
</div> *@